{% extends 'theme/layout/main.html' %}

{% block title %}Каталог услуг{% endblock %}

{% block content %}
    <style>
        .filterDiv {
            display: none;
        }
        .show {
            display: block;
        }
    </style>
    <!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">Магазин услуг</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'shop:index' %}">Панель управления</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Заказ услуги</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- ROW-1 OPEN -->
                <div class="row row-cards">
                    <div class="col-xl-3 col-lg-4">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Страна</div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <div id="myBtnContainer">
                                                <li class="list-group-item border-0 p-0"> <button class="btn btn_cas" onclick="filterSelection('all')" ><i class="fe fe-chevron-right"></i>Все товары</button></li>
                                                {% for c in country %}
                                                    <li class="list-group-item border-0 p-0"> <button class="btn btn_cas" onclick="filterSelection('group{{ c.pk }}')" ><i class="fe fe-chevron-right"></i><p class="btn_text">{{ c.title }}</p></button></li>
                                                {% endfor %}
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Выбор покупателей</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="">
                                            {% for i in product %}
                                            <div class="d-flex overflow-visible">
                                                <img class="avatar bradius avatar-xl me-4 p-2 bg-white border" src="/static/assets/images/media/server.png" alt="avatar-img">
                                                <div class="media-body valign-middle">
                                                    <a href="javascript:void(0)" class="fw-semibold text-dark">{{ i.title }}</a>
                                                    <div class="mb-1">
                                                        <p>{{ i.configurations }}</p>
                                                    </div>
                                                    <h5 class="fw-bold">${{ i.price }}</h5>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COL-END -->
                    <div class="col-xl-9 col-lg-8">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card p-0">
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="col-xl-5 col-lg-8 col-md-8 col-sm-8">
                                                <div class="input-group d-flex w-100 float-start">
                                                    <input type="text" class="form-control border-end-0 my-2" placeholder="Поиск по сайту ...">
                                                    <button class="btn input-group-text bg-transparent border-start-0 text-muted my-2">
                                                        <i class="fe fe-search text-muted" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-11">
                                <div class="row">
                                    {% for cart in page_obj %}
                                        <div class="col-md-6 col-xl-4 col-sm-6 alert filterDiv group{{ cart.country.pk }}">
                                            <div class="card ribbone-card">
                                                <div class="ribbone ribbone-top-left text-danger"><span class="bg-primary blink-text">В наличии</span></div>
                                                <div class="product-grid6">
                                                    <div class="product-image6 p-5">
                                                        <a href="javascript:void(0)" >
                                                            <img class="img-fluid br-7 w-100" src="/static/assets/images/media/server.png" alt="img">
                                                        </a>
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="product-content text-center">
                                                            <h1 class="title fw-bold fs-20"><a href="javascript:void(0)">{{ cart.title }}</a></h1>
                                                            <p>{{ cart.configurations }}</p>
                                                            <div class="price">${{ cart.price }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer text-center">
                                                      <p>Количество: <b id="id_text{{ cart.pk }}">1</b></p>
                                                            <button  onclick="quantityFunc('{{ cart.pk }}', '-')" class="btn btn-primary mx-2 mb-1 w-sm">-</button>
                                                            <button  onclick="quantityFunc('{{ cart.pk }}', '+')" class="btn btn-primary mx-2 mb-1 w-sm">+</button>
                                                        <form action="{% url "cart:cart_add" cart.id %}" method="post">
                                                            <input type="hidden" name="quantity" value="1" id="id_quantiny{{ cart.pk }}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-primary mx-2 mb-1 w-sm"><i class="fe fe-shopping-cart me-2"></i>В коpзину</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="mb-5">
                                        <div class="center">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item page-prev">
                                                    {% if page_obj.has_previous %}
                                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Назад</a>
                                                    {% endif %}
                                                </li>
                                                {% for i in page_obj.paginator.page_range %}
                                                    {% if page_obj.number == i %}
                                                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                    {% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2 %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li class="page-item page-next">
                                                    {% if page_obj.has_next %}
                                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- COL-END -->
                    </div>
                    <!-- ROW-1 CLOSED -->
                </div>
                <!-- ROW-1 END -->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!--app-content closed-->
    <script>
      function quantityFunc(id_cart, sign) {
        input_quantity = document.getElementById("id_quantiny" + id_cart)
        text = document.getElementById("id_text" + id_cart)
        if (sign == "+") {
          input_quantity.value = Number(input_quantity.value) + 1
        }
        if (sign == "-" && input_quantity.value > 1) {
          input_quantity.value = Number(input_quantity.value) - 1
        }
        text.textContent = input_quantity.value
      }
    </script>
    <script type="application/javascript">
        filterSelection("all")
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");

            if (c == "all") c = "";
            // Добавить класс "show" (display:block) к отфильтрованным элементам и удалите класс "show" из элементов, которые не выбраны
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        // Показать отфильтрованные элементы
        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // Скрыть элементы, которые не выбраны
        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Добавить активный класс к текущей кнопке управления (выделите ее)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }

    </script>
{% endblock %}