{% extends 'layout/index.html' %}

{% block title %}
<title>Psb-hosting.pro - Панель управления – Хостинг VDS/VPS серверов </title>
{% endblock %}

{% block content %}
    <div class="main-content app-content mt-0">
            <div class="side-app">

                <!-- CONTAINER -->
                <div class="main-container container-fluid">

                    <!-- PAGE-HEADER -->
                    <div class="page-header">
                        <h1 class="page-title">Управление услугами</h1>
                        <div>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Главная</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Управление услугами</li>
                            </ol>
                        </div>
                    </div>
                    <!-- PAGE-HEADER END -->

                    <!-- ROW-1 -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <i class="pe-7s-server text-primary fa-3x"></i>
                                            <h6 class="mt-4 mb-2">Активных услуг</h6>
                                            <h2 class="mb-2 number-font">834</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <i class="pe-7s-help2 text-primary fa-3x"></i>
                                            <h6 class="mt-4 mb-2">Открытых тикетов</h6>
                                            <h2 class="mb-2 number-font">834</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <i class="pe-7s-wallet text-primary fa-3x"></i>
                                            <h6 class="mt-4 mb-2">Текущий баланс</h6>
                                            <h2 class="mb-2 number-font">834 руб</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <i class="pe-7s-cash text-primary fa-3x"></i>
                                            <h6 class="mt-4 mb-2">Не оплаченных счетов</h6>
                                            <h2 class="mb-2 number-font">8</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ROW-1 END -->



                    <!-- ROW-4 -->
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title mb-0">Product Sales</h3>
                                </div>
                                <div class="card-body pt-4">
                                    <div class="grid-margin">
                                            <div class="panel panel-primary">
                                                <div class="panel-body tabs-menu-body border-0 pt-0">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab5">
                                                            <div class="table-responsive">
                                                                <table id="data-table"
                                                                       class="table table-bordered text-nowrap mb-0">
                                                                    <thead class="border-top">
                                                                    <tr>
                                                                        <th class="bg-transparent border-bottom-0"
                                                                            style="width: 5%;">ID заказа</th>
                                                                        
                                                                        <th
                                                                                class="bg-transparent border-bottom-0">
                                                                            Дата создания заказа</th>
                                                                        <th
                                                                                class="bg-transparent border-bottom-0">
                                                                            Цена</th>
                                                                        <th class="bg-transparent border-bottom-0"
                                                                            style="width: 10%;">Status</th>
                                                                        <th class="bg-transparent border-bottom-0"
                                                                            style="width: 5%;">Action</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for order in orders %}
                                                                    <tr class="border-bottom">
                                                                        <td class="text-center">
                                                                            <div class="mt-0 mt-sm-2 d-block">
                                                                                <h6
                                                                                        class="mb-0 fs-14 fw-semibold">
                                                                                    {{ order.invoice_id }} </h6>
                                                                            </div>
                                                                        </td>
                                                                        <td><span class="mt-sm-2 d-block">
                                                                            {{ order.created }}</span></td>
                                                                        <td><span
                                                                                class="fw-semibold mt-sm-2 d-block">{{order.get_total_cost}} $</span>
                                                                        </td>
                                                                        {% if order.paid and order.text != "" %}
                                                                        <td>
                                                                            <div class="mt-sm-1 d-block">
                                                                                        <span
                                                                                                class="badge bg-success-transparent rounded-pill text-success p-2 px-3">Оплачено</span>
                                                                            </div>
                                                                        </td>
                                                                        {% endif %}
                                                                        {% if order.paid and not order.text %}
                                                                        <td>
                                                                            <div class="mt-sm-1 d-block">
                                                                                        <span
                                                                                                class="badge bg-warning-transparent rounded-roll text-warning p-2 px-3">В обработке</span>
                                                                            </div>
                                                                        </td>
                                                                        {% endif %}
                                                                        {% if not order.paid %}
                                                                        <td>
                                                                            <div class="mt-sm-1 d-block">
                                                                                        <span
                                                                                                class="badge bg-danger-transparent rounded-roll text-danger p-2 px-3">Не оплачено</span>
                                                                            </div>
                                                                        </td>
                                                                        {% endif %}
                                                                        <td>
                                                                            <div class="g-2">
                                                                                <a class="btn text-primary btn-sm"
                                                                                   data-bs-toggle="tooltip"
                                                                                   data-bs-original-title="Edit"><span
                                                                                        class="fe fe-edit fs-14"></span></a>
                                                                                <a class="btn text-danger btn-sm"
                                                                                   data-bs-toggle="tooltip"
                                                                                   data-bs-original-title="Delete"><span
                                                                                        class="fe fe-trash-2 fs-14"></span></a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    {% endfor %}

                                                                    
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ROW-4 END -->
                </div>
                <!-- CONTAINER END -->
            </div>
        </div>
{% endblock %}