{% extends 'layout/index.html' %}

{% block title %}
    <title>psb-hosting.pro - Магазин услуг - VDS/VPS сервера для вашего бизнеса</title>
<style>
.filterDiv {
  display: none;
}
.show {
  display: block;
}
</style>
{% endblock %}

{% block content %}
    <!--app-content open-->
    <div class="main-content app-content mt-0" xmlns="http://www.w3.org/1999/html">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                
                <div class="page-header">
                    <h1 class="page-title">Магазин услуг</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Заказать услугу</li>
                        </ol>
                    </div>
                </div>
                
                <!-- PAGE-HEADER END -->

                <!-- ROW-1 OPEN -->
                <div class="row row-cards">
                    <!-- COL-END -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card p-0">
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6">
                                                <div class="input-group d-flex w-100 float-start my-1">
                                                    <input type="text" class="form-control" placeholder="Поиск по услугам">
                                                    <button class="btn input-group-text bg-transparent text-muted">
                                                        <i class="fa fa-search fs-16" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-xl-7 col-lg-6 col-md-7 col-sm-6">
                                                <div class="float-sm-end float-none my-1">
                                                    <a href="#" class="btn btn-primary me-2">Заказать индивидуальный сервер</a>
                                                    <a href="#" class="btn btn-primary">Связаться с Тех-поддержкой</a>
                                                    <div id="myBtnContainer">
                                                    <button class="btn active btn-primary" onclick="filterSelection('all')">Показать все</button>
                                                    {% for c in country %}
                                                    <button class="btn btn-primary" onclick="filterSelection('group{{ c.pk }}')">{{ c.title }}</button>
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-11">
                                <div class="row">
                                    {% for serv in page_obj %}
                                        <div class="filterDiv group{{ serv.country.pk }}">
                                        <div class="col-sm-6 col-md-6 col-xl-3 alert">
                                            <div class="card">
                                                <div class="product-grid6">
                                                    <div class="product-image6 p-5">
                                                        <a href="#" >
                                                            <img class="img-fluid br-7 w-100" src="/static/assets/images/media/server.png" alt="img">
                                                        </a>
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="product-content text-center">
                                                            <h1 class="title fw-bold fs-20"><a href="#">{{ serv.title }}</a></h1>
                                                            <p><b>{{ serv.country.title }}</b></p>
                                                            <p class="text fs-18">{{ serv.configurations }}</p>
                                                            <div class="mb-2 text-warning">
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star-half-o text-warning"></i>
                                                                <i class="fa fa-star-o text-warning"></i>
                                                            </div>
                                                            <div class="price mb-2">${{ serv.price }}<span class="ms-4">${{ serv.total }}</span></div>
                                                            <span class="text-success fs-18 fw-semibold">В наличии</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer text-center">
                                                        <form action="{% url "cart:cart_add" serv.id %}" method="post">
                                                            <input type="hidden" name="quantity" value="1">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-primary mx-2 mb-1 w-sm"><i class="fe fe-shopping-cart me-2"></i>В коpзину</button>
                                                            <a href="javascript:void(0)" class="btn btn-light mx-2 mb-1 w-sm"><i class="fe fe-share-2 me-2 text-dark"></i>Поделиться</a>
                                                        </form>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="mb-5">
                                    <div class="center">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item page-prev">
                                                {% if page_obj.has_previous %}
                                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Назад</a>
                                                {% endif %}
                                            </li>
                                            {% for i in page_obj.paginator.page_range %}
                                                {% if page_obj.number == i %}
                                                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                {% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2 %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            <li class="page-item page-next">
                                                {% if page_obj.has_next %}
                                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- COL-END -->
                    </div>
                    <!-- ROW-1 CLOSED -->
                </div>
                <!-- ROW-1 END-->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!--app-content closed-->

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  
  if (c == "all") c = "";
  // Добавить класс "show" (display:block) к отфильтрованным элементам и удалите класс "show" из элементов, которые не выбраны
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Показать отфильтрованные элементы
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Скрыть элементы, которые не выбраны
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Добавить активный класс к текущей кнопке управления (выделите ее)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}

</script>
{% endblock %}