<!doctype html>
<html lang="ru" dir="ltr">
<head>
    <!-- META DATA -->
    {% include 'theme/layout/block/meta.html' %}
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/brand/favicon.ico" />
    <!-- TITLE -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Style theme -->
    {% include 'theme/layout/block/head.html' %}
</head>

<body class="app sidebar-mini ltr light-mode">
<!-- GLOBAL-LOADER -->
{% include 'theme/layout/block/loader.html' %}
<!-- /GLOBAL-LOADER -->
<!-- PAGE -->
<div class="page">
    <div class="page-main">
        <!-- app-Header -->
        <div class="app-header header sticky">
            <div class="container-fluid main-container">
                <div class="d-flex">
                    <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar" href="javascript:void(0)"></a>
                    <!-- sidebar-toggle-->
                    <a class="logo-horizontal " href="{% url 'shop:index' %}">
                        <img src="/static/assets/images/logo.png" class="header-brand-img desktop-logo" alt="logo">
                        <img src="/static/assets/images/logo.png" class="header-brand-img light-logo1" style="width: 153px"
                             alt="logo">
                    </a>
                    <!-- LOGO -->
                    <div class="d-flex order-lg-2 ms-auto header-right-icons">
                        <!-- SEARCH -->
                        <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                                aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                        </button>
                        <div class="navbar navbar-collapse responsive-navbar p-0">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                <div class="d-flex order-lg-2">
                                    <div class="dropdown d-lg-none d-flex">
                                        <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="dropdown">
                                            <i class="fe fe-search"></i>
                                        </a>
                                        <div class="dropdown-menu header-search dropdown-menu-start">
                                            <div class="input-group w-100 p-2">
                                                <input type="text" class="form-control" placeholder="Search....">
                                                <div class="input-group-text btn btn-primary">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Theme-Layout -->
                                    <div class="dropdown  d-flex shopping-cart">
                                        {% with total_items=cart|length %}
                                            {% if cart|length > 0 %}
                                                <a class="nav-link icon text-center" href="{% url 'cart:cart_detail' %}">
                                                    <i class="fe fe-shopping-cart"></i><span class="badge bg-secondary header-badge">{{ total_items }}</span>
                                                </a>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <!-- CART -->
                                    <div class="dropdown d-flex">
                                        <a class="nav-link icon full-screen-link nav-link-bg">
                                            <i class="fe fe-minimize fullscreen-button"></i>
                                        </a>
                                    </div>
                                    <!-- FULL-SCREEN -->
                                    <div class="dropdown  d-flex notifications">
                                        <a class="nav-link icon" data-bs-toggle="dropdown"><i
                                                class="fe fe-bell"></i><span class=" pulse"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                            <div class="drop-heading border-bottom">
                                                <div class="d-flex">
                                                    <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">Уведомления
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="notifications-menu">
                                                <a class="dropdown-item d-flex" href="">
                                                    <div class="me-3 notifyimg  bg-primary brround box-shadow-primary">
                                                        <i class="fe fe-mail"></i>
                                                    </div>
                                                    <div class="mt-1 wd-80p">
                                                        <h5 class="notification-label mb-1">New Application received
                                                        </h5>
                                                        <span class="notification-subtext">3 days ago</span>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item d-flex" href="javascript:void(0)">
                                                    <div class="me-3 notifyimg  bg-secondary brround box-shadow-secondary">
                                                        <i class="fe fe-check-circle"></i>
                                                    </div>
                                                    <div class="mt-1 wd-80p">
                                                        <h5 class="notification-label mb-1">Project has been
                                                            approved</h5>
                                                        <span class="notification-subtext">2 hours ago</span>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item d-flex" href="javascript:void(0)">
                                                    <div class="me-3 notifyimg  bg-success brround box-shadow-success">
                                                        <i class="fe fe-shopping-cart"></i>
                                                    </div>
                                                    <div class="mt-1 wd-80p">
                                                        <h5 class="notification-label mb-1">Your Product Delivered
                                                        </h5>
                                                        <span class="notification-subtext">30 min ago</span>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item d-flex" href="javascript:void(0)">
                                                    <div class="me-3 notifyimg bg-pink brround box-shadow-pink">
                                                        <i class="fe fe-user-plus"></i>
                                                    </div>
                                                    <div class="mt-1 wd-80p">
                                                        <h5 class="notification-label mb-1">Friend Requests</h5>
                                                        <span class="notification-subtext">1 day ago</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="dropdown-divider m-0"></div>
                                            <a href="javascript:void(0)"
                                               class="dropdown-item text-center p-3 text-muted">Просмотреть все</a>
                                        </div>
                                    </div>
                                    <!-- NOTIFICATIONS -->
                                    <!-- SIDE-MENU -->
                                    <div class="dropdown d-flex profile-1">
                                        <a href="javascript:void(0)" data-bs-toggle="dropdown" class="nav-link leading-none d-flex"><span class="avatar avatar-md brround bg-primary">{{ request.user.username|truncatechars:5 }}</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                            <div class="drop-heading">
                                                <div class="text-center">
                                                    <h5 class="text-dark mb-0 fs-14 fw-semibold">{{ request.user.username }}</h5>
                                                    <small class="text-muted">{{ request.user.email }}</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-divider m-0"></div>
                                            <a class="dropdown-item" href="{% url 'shop:settings' %}">
                                                <i class="dropdown-icon fe fe-user"></i> Профиль
                                            </a>
                                            <a class="dropdown-item" href="{% url 'logout' %}">
                                                <i class="dropdown-icon fe fe-alert-circle"></i> Выйти
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /app-Header -->

        <!--APP-SIDEBAR-->
        <div class="sticky">
            <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
            <div class="app-sidebar">
                <div class="side-header">
                    <a class="header-brand1" href="{% url 'shop:index' %}">
                        <img src="/static/assets/images/logo.png" class="header-brand-img desktop-logo" alt="logo">
                        <img src="/static/assets/images/logo.png" class="header-brand-img toggle-logo"
                             alt="logo">
                        <img src="/static/assets/images/logo.png" class="header-brand-img light-logo" alt="logo">
                        <img src="/static/assets/images/logo.png" class="header-brand-img light-logo1"
                             alt="logo">
                    </a>
                    <!-- LOGO -->
                </div>
                <div class="main-sidemenu">
                    <div class="slide-left disabled" id="slide-left">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                        </svg>
                    </div>
                    <ul class="side-menu">
                        <li class="sub-category">
                            <h3>Главная страница</h3>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'shop:index' %}"><i
                                    class="side-menu__icon fe fe-home"></i><span
                                    class="side-menu__label">Панель управления</span></a>
                        </li>
                        <li class="sub-category">
                            <h3>Услуги</h3>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'shop:shop' %}"><i
                                    class="side-menu__icon fe fe-shopping-cart"></i><span
                                    class="side-menu__label">Заказать услугу</span>
                            </a>
                        </li>
                        <li class="sub-category">
                            <h3>Поддержка и документация</h3>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item has-link" href="https://psb-hosting-pro.gitbook.io/documentations/"><i
                                    class="side-menu__icon fe fe-file-text"></i><span
                                    class="side-menu__label">Документация</span><span class="badge bg-green br-5 side-badge blink-text pb-1">New</span></a>
                        </li>
                    </ul>
                    <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                                                                   width="24" height="24" viewBox="0 0 24 24">
                        <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                    </svg></div>
                </div>
            </div>
            <!--/APP-SIDEBAR-->
        </div>
        <!--app-content open-->
        {% block content %}
        {% endblock %}
        <!--app-content closed-->
    </div>

    <!-- FOOTER -->
    {% include 'theme/layout/block/footer.html' %}
    <!-- FOOTER CLOSED -->
</div>
{% include 'theme/layout/block/sctipt.html' %}
</body>

</html>