<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 text-center">
                Копирование без письменного разрешения администратора сайта запрещено © <a href="javascript:void(0)">PSB</a> <span id="year"></span>. Разработано студией <span
                    class="fa fa-heart text-danger"></span> <a href="javascript:void(0)"> AiLab </a> Все права защищены.
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->